#!/bin/bash
set -o errexit
RUBY_VERSION="EDIT_ME"
if [ "${RUBY_VERSION}" == "EDIT_ME ]; then
    echo "Please edit the RUBY_VERSION variable, e.g. 1.9.1"
    exit
fi
# autostow template 2010-04-06
# stow target = /, stow dir = /stow
STOW="stow2"
PACKAGE=DO_NOT_EDIT
VERSION=DO_NOT_EDIT
GEM_NAME=${PACKAGE}
GEM_VERSION=${VERSION}
PACKAGER="TDW <troydwill@gmail.com>"
HOMEPAGE_URL=""
SOURCE_URL=""
DATE="2010-04-08"
PREFIX="/usr"
TARGET="/"
STOW_DIR="/stow"
SUDO="sudo"

PACKAGE="${GEM_NAME}_${GEM_VERSION}_rb${RUBY_VERSION}"
PACKAGE_DIR="${STOW_DIR}/${PACKAGE}"

GEM="GEM_NAME-GEM_VERSION"

INSTALL_DIR="${PACKAGE_DIR}${PREFIX}/lib/ruby/gems/${RUBY_VERSION}"

do_install () {
    ${SUDO} gem install ${GEM_NAME} \
	--verbose \
	--bindir ${PACKAGE_DIR}/${PREFIX}/bin \
        --install-dir ${INSTALL_DIR} \
	--no-rdoc \
	--no-ri \
	--ignore-dependencies \
	--version ${VERSION} \
        make 2>&1 | tee log.stow.install
}

do_stow () {
    ${SUDO} ${STOW} ${PACKAGE}
}

do_check_stow () {
    ${STOW} --conflicts ${PACKAGE}
}

do_find () {
    find ${STOW_DIR} -cmin -2 > find.2.${STOW_DIR}
    find ${PREFIX} -cmin -2 > find.2.${PREFIX}
}

do_package () {
    echo "PLACEHOLDER"
}

do_install
do_stow
do_check_stow
do_find
do_package
